// app global css in SCSS form
@font-face {
  font-family: "DouYu";
  src: url("/fonts/douyuFont.otf");
}

@font-face {
  font-family: "LX";
  src: url("/fonts/LXGWWenKaiGBScreen.ttf");
}

* {
  font-family: "LX";
}

a {
  color: #2e8555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
